:root {
    --button-color: #3079A8;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* header */
.title-inner {
    background-image: url("images/header2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
#dev-name {
    font-family: 'Corinthia', cursive;
    color: #F2CC01;
    text-shadow: 2px 2px 5px #212529;
}
#dev-title {
    text-shadow: 1px 1px 2px #fff;
}

/* content */
main, footer {
    background-color: #A1C7DA;
    overflow-y: auto;
    position: relative;
    background-size: cover;
}
body {
    margin: 60px auto;
}
@media (max-width: 768px) { /* properties for mobile devices */
    .about-me-title, .project-title-right, .project-title-left {
        padding-top: 1.5rem;
    }
    .about-me-paragraph {
        padding: 0;
        margin: 0;
    }
    .project-title-left, .project-title-right, .app-description-left, .app-description-right {
        text-align: center;
    }
    .app-links {
        justify-content: center;
    }
    .even-project {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (min-width: 769px) { /* properties for tablets and larger */
    .about-me-paragraph, .app-description-right {
        margin-right: 2rem;
    }
    .project-title-left, .project-title-right, .app-description-left, .app-description-right {
        text-align: start;
    }
    .app-description-left, .project-title-left, .app-link-left {
        margin-left: 2rem;
    }
    .app-links {
        justify-content: left;
    }
}
p {
    border-radius: 4px;
    line-height: 1.5;
}

/* About: tech stacks */
.tech-icon {
    width: 10%;
}
.tech-icon:hover, .button-link:hover {
    transform: scale(1.2);
}

/* Projects */
.app-links {
    display: flex;
    margin-top: 40px;
}
.app-links a {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
}
.app-links a:hover {
    color: var(--secondary-color);
}
.button-link {
    background: var(--button-color);
    box-shadow: var(--box-shadow);
    color: var(--secondary-color);
}

/* Experience (accordion) */
.accordion {
    border: var(--secondary-color);
}
.accordion-item h2 button:not(.collapsed) {
    color: var(--secondary-color)!important;
    background: var(--button-color)!important;
    -webkit-box-shadow: var(--box-shadow)!important;
    box-shadow: var(--box-shadow)!important;
}
.accordion-item h2 button {
    color: var(--button-color)!important;
}
.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233079A8'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f2fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}

/* Contact (all pages) */
.fa-envelope {
    color: #F7F1E5;
}
.fa-linkedin {
    color: #0373B1;
}