:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/* header */
.title-inner {
    background-image: url("images/header2.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
#dev-name {
    font-family: 'Corinthia', cursive;
    color: #F2CC01;
    text-shadow: 2px 2px 5px #212529;
}
#dev-title {
    text-shadow: 1px 1px 2px #fff;
}

/* content */
main {
    background-color: #A1C7DA;
    overflow-y: auto;
    position: relative;
    background-size: cover;
}

body {
    margin: 60px auto;
}

@media (max-width: 768px) { /* properties for mobile devices */
    .about-me-title {
        padding-top: 1.5rem;
    }
    .about-me-paragraph {
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 769px) { /* properties for tablets and larger */
    .about-me-paragraph {
        margin-right: 4rem;
    }
}

/* tech stacks */
.tech-icon {
    width: 10%;
}

.tech-icon:hover {
    transform: scale(1.2);
}

/* contact */
.fa-envelope {
    color: #F7F1E5;
}

.fa-linkedin {
    color: #0373B1;
}

/* above are CSS properties from previously-started portfolio project */

/* below are CSS properties from SheCodes practice project */

/* h1, h2, h3 {
    text-align: center;
    margin: 0;
}

h3 {
    opacity: 0.7;
} */

.navigation-links, .app-links {
    display: flex;
    margin-top: 40px;
}

.navigation-links {
    justify-content: center;
}

.app-links {
    justify-content: left;
}

.navigation-links a, .app-links a {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-links a {
    margin: 20px;
}

.navigation-links a:hover, .app-links a:hover {
    color: #6262f9;
}

.contact-link, .yoga-link {
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
}

.yoga-link {
    margin: 0;
}

.yoga-description {
    text-align: start;
}

p {
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

  /* SheCodes practice project nav bar */
/* .about-link {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.homepage-link {
    color: var(--primary-color);
    text-align: center;
    display: block;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
} */
